<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="LogBDP.log" />
		<param name="MaxFileSize" value="5MB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} [%t] %-5p %c{1} - %m%n"/>
		</layout>
	</appender>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} [%t] %-5p %c{1} - %m%n"/>
        </layout>
    </appender>

	<logger name="org.hibernate">
		<level value="INFO"/>
	</logger>
	 
	<logger name="org.springframework">
		<level value="INFO"/>
	</logger>
	
	<root>
		<level value="ERROR" />
		<appender-ref ref="fileAppender" />
	</root>
</log4j:configuration>